@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Rouge+Script&display=swap');

html{
    height: 100%;
    width: 100%;
  }

  body{
    height: 100%;
    width: 100%;
    background-color: #4F80C4;
    box-sizing: border-box;
  }
  
  .meucarousel  .container{
    max-width:960px;
    max-height:489px;
    
  }  

  .jaba{
      font-size: 3.5rem;
      font-family: 'Rouge Script', cursive;
      width:auto ;
      height: auto;
      text-align: center;
      
  }

  footer {
    background-color: #FFFAFA;
    
  }