@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Rouge+Script&display=swap');

html{
    height: 100%;
    width: 100%;
  }

  body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #2f71da, #407ad9, #5083d7, #5f8cd5, #6e95d3);
    box-sizing: border-box;
  }

  .navb{
    align-content: center;
    background-color: #FFFAFA;
  }  
  

  .container{
    max-width:960px;
    max-height:489px;
    margin-top: 50px;
  }  

  .carousel-item > img{   
    border-radius: 31px;

  }

  .jaba{
      font-size: 7vh;
      font-family: 'Rouge Script', cursive;
  }

  footer {
    background-color: #FFFAFA;
    
  }