@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Rouge+Script&display=swap');

html{
    height: 100%;
    width: 100%;
  }

  body{
    height: 100%;
    width: 100%;
    background-color: #4F80C4;
    box-sizing: border-box;
  }

  .carroucel{
    max-width:960px;
    max-height:489px;
    margin-top: 60px;
  }  

  .jaba{
      font-size: 250%;
      font-family: 'Rouge Script', cursive;
      width: auto;
      height: auto;
      
  }

  footer {
    background-color: #FFFAFA;
    
  }