@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Rouge+Script&display=swap');

html{
    height: 100%;
    width: 100%;
  }

  body{
    height: 100%;
    width: 100%;
    
    box-sizing: border-box;
  }
  #todo{
    background-color: #4F80C4;
    padding-left: 0px;
    padding-right: 0px;
  }
 
  .navbar {
    font-size: 20px;
    background-color:#d3d3d3;
  }

  .meucarousel  .container{
    max-width:960px;
    max-height:489px;
    
  }  

  
  .jaba{
    font-size: 3.5rem;
    font-family: 'Rouge Script', cursive;
    width:auto ;
    height: auto;
    text-align: center;}

  .memorials {
    font-size: 1rem;
    height: 20em;
    text-align: center;
    background-color: darkgrey;
  }
  #indicat {
    margin-top:60px;
    
  }

  footer {
    background-color: #d3d3d3;
    
  }